<%- include('./partials/_header') %>
   <body>


      <%- include('./partials/_navbar') %>
      <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furnitures Work</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
                  
                  <% if(user){ %>

                      <% if(user.role =="Seller"){ %>
                        <button  type="button" class="btn btn-primary col-sm-12" data-toggle="modal" data-target="#exampleModal2">
                           Add Product
                         </button>
                         <% } %>
                         <% } %>
                   
               </div>
            </div>
            
            <div class="furnitures_section_2">
               
                   
               
               
               <div class="row">
                  
                  <% products.forEach(element => { %>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <a href="/products/<%= element.slug %>"> 
                     
                        <figure><img src="/images/img-1.png"></figure></a>
                        
                     </div>
                     <h3 class="introduction_text">Bedroom</h3>
                     <div class="seemore_bt"><a href="/products/<%= element.slug %>">See More</a></div>
                  </div>
                  <%  });  %>
               
               </div>


               
            </div>
         </div>
      </div>



      <div class="modal fade bg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content bg-primary">
               <div class="modal-header bg-primary text-white">
                  <h5 class="modal-title" id="updateModalLabel">Add Products</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body p-4">
                  <form method="POST" action="/products/">
                     <div class="mb-4">
                        <label for="furnitureName" class="form-label fw-bold">Product Name</label>
                        <input 
                           type="text" 
                           class="form-control form-control-lg" 
                           id="furnitureName" 
                           name="name"  
                           required >
                     </div>
                     <div class="mb-4">
                        <label for="furnitureDescription" class="form-label fw-bold">Description</label>
                        <textarea 
                           class="form-control form-control-lg" 
                           id="furnitureDescription" 
                           name="description" 
                           rows="4" 
                           required></textarea>
                     </div>
                     <div class="mb-4">
                        <label for="furnitureOrigin" class="form-label fw-bold">Origin</label>
                        <input 
                           type="text" 
                           class="form-control form-control-lg" 
                           id="furnitureOrigin" 
                           name="origin" 
                           required>
                     </div>
                     <div class="text-end">
                        <button type="submit" class="btn btn-success btn-lg px-5">Save Changes</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade bg" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-primary">
               <div class="modal-header bg-primary text-white">
                  <h5 class="modal-title" id="exampleModal2Label">Add Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body p-4">
                  <form method="POST" action="/products/">
                     <div class="row g-4">
                        <!-- Furniture Category -->
                        <div class="col-12">
                     
                           <select 
                              name="furniture" 
                              id="furnitureSelect" 
                              class="form-select form-select-lg" 
                              required>
                              <option value="" disabled selected>-- Select a Category --</option>
                              <% furnitures.forEach(element => { %>
                                 <option value="<%= element._id %>"><%= element.name %></option>
                              <% }); %>
                           </select>
                        </div>
      
      
                        <!-- Origin -->
                        <div class="col-12">
                           <label for="furnitureOrigin" class="form-label fw-bold">Name</label>
                           <input 
                              type="text" 
                              class="form-control form-control-lg" 
                              id="furnitureOrigin" 
                              name="name" 
                              placeholder="Enter product Name..." 
                              required>
                        </div>
      
                        <!-- Origin -->
                        <div class="col-12">
                           <label for="furnitureOrigin" class="form-label fw-bold">Price</label>
                           <input 
                              type="text" 
                              class="form-control form-control-lg" 
                              id="furnitureOrigin" 
                              name="price" 
                              placeholder="Enter product Price..." 
                              required>
                        </div>
      
      
                         <!-- Origin -->
                         <div class="col-12">
                           <label for="furnitureOrigin" class="form-label fw-bold">Height</label>
                           <input 
                              type="text" 
                              class="form-control form-control-lg" 
                              id="furnitureOrigin" 
                              name="height" 
                              placeholder="Enter product Height..." 
                              required>
                        </div>
      
                         <!-- Origin -->
                         <div class="col-12">
                           <label for="furnitureOrigin" class="form-label fw-bold">Width</label>
                           <input 
                              type="text" 
                              class="form-control form-control-lg" 
                              id="furnitureOrigin" 
                              name="Width" 
                              placeholder="Enter product Width..." 
                              required>
                        </div>
      
                        <!-- Submit Button -->
                        <div class="col-12 text-end">
                           <button type="submit" class="btn btn-success btn-lg px-5">Save Changes</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      
      <!-- furnitures section end -->
      <%- include('./partials/_footer') %>