<%- include("partials/_header") %>
<%- include("partials/_navigation") %>
    
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                  <h2>Our Services</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services -->
          <!-- trainers -->
          <div  class="trainers">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <p>Lorem Ipsum available, but the majority have suffered </p>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-center">
              
                 
                  <div class="col-md-4 center">
                    
                  
                     
                     <div id="trai" class="trainer_box ">
                        <div class="trainer_img">
                           <figure><img src="/images/tra.jpg" alt="#"/></figure>
                        </div>
                        <div class="trainer">
                           <h3> <%= training.name %> </h3>
                           <p><%= training.description %></p>
                           <i class="fa-solid fa-person-chalkboard mt-3 ">Trainer:</i>
                           <p style="display: inline-block;"><%= training.trainer.name %></p>
                        </div>

                        <!-- For  Logged Users-->
                        <% if(userSessionID) { %>
                     
                           <div style="display: flex; justify-content: center; gap: 10px;">

                              <% if(user.role === "MEMBER") { %>
                              <% if(training.members.includes(userSessionID)){ %>
                             
                              <form action="/trainings/<%= training.slug %>/cancel" method="post"><button class="trainer-buttons btn btn-danger">Cancel</button></form>
                              <% } else {%>
                                 <form action="/trainings/<%= training.slug %>/enroll" method="post"> <button type="submit" class="trainer-buttons btn btn-success">Enroll</button>
                                 </form>
                                 <% } %>
                           </div>
                           <% } %>
                           
                           <!-- For  Not Logged Users-->
                        <% }else{ %>

                           <div style="display: flex; justify-content: center; gap: 10px;">
                             
                             
                              <form action="/trainings/<%= training.slug %>/enroll" method="post">
                                 <div data-bs-toggle="tooltip" data-bs-placement="top" 
                                      title="You must be logged in to enroll ">
                                    <button type="submit" class="trainer-buttons btn btn-success" disabled>Enroll</button>
                                 </div>
                              </form>
                                 <% } %>
                           </div>
                           
                     </div>
         
                  </div>
                   
                  
                  
               </div>
            </div>
         </div>
         <!-- end trainers -->
      </div>
      <!-- end services -->


      <!-- Bootstrap Tooltip'in Çalışması için -->
      <script>
         document.addEventListener("DOMContentLoaded", function() {
             var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
             var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                 return new bootstrap.Tooltip(tooltipTriggerEl);
             });
      
             
         });
      </script>
      <%- include("partials/_footer") %>
      