<%- include("partials/_header") %>
<%- include("partials/_navigation") %>
    
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                  <h2>Our All Trainings</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services -->
          <!-- trainers -->
          <div  class="trainers">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <p>Lorem Ipsum available, but the majority have suffered </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <% trainings.forEach(element => {  %>
                     
                 
                  <div class="col-md-4">
                     <a href="/trainings/<%= element.slug %>">
                  
                     
                     <div id="trai" class="trainer_box">
                        <div class="trainer_img">
                           <figure><img src="images/tra.jpg" alt="#"/></figure>
                        </div>
                        <div class="trainer">
                           <h3> <%= element.name %> </h3>
                           <p><%= element.description %></p>
                           <i class="fa-solid fa-person-chalkboard mt-3 ">Trainer:</i>
                           <p style="display: inline-block;"><%= element.trainer.name %></p>
                        
                        </div>
                       
                     </div>
                  </a>
                  </div>
                   
                  <% }); %>
                  
               </div>
            </div>
         </div>
         <!-- end trainers -->
      </div>
      <!-- end services -->
      <%- include("partials/_footer") %>